/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  background: url(http://latentflip.com/LearningD3/collider/bo_play.png);
  margin: 0;
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}

div {
  display: block;
}

.container {
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  width: 700px;
  background: white;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard {
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #ddd;
  text-align: right;
  border-radius: 3px;
}

#scores span {
  display: inline-block;
  width: 50px;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.area {
  fill: lightsteelblue;
}

.line, circle.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.area {
  fill: #fff;
}

.ship {
  fill: red;
}
